* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, #root {
    width: 100%;
    height: 100%
}

.app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2.5fr 5fr;
    grid-template-rows: 1fr 6fr;
}